{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Titre</th>
                <th>Créé le</th>
                <th>Edité le</th>
                <th>Priorité</th>
                <th>Etat</th>
                <th>Image(s)</th>
                <th>Description du problème</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ path('tickets_show', { 'id': ticket.id }) }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.users.username }}</td>
                <td>{{ ticket.title }}</td>
                <td>{% if ticket.createdAt %}{{ ticket.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if ticket.editedAt %}{{ ticket.editedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ ticket.priority }}</td>
                <td>{% if ticket.state %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <ul>
                        {% for image in ticket.images %}
                            <li><a data-fancybox="gallery" href="/images/tickets/{{ image.imageName }}"><img class="materialboxed responsive-img" src="/images/tickets/{{ image.imageName }}" width="50"></a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ ticket.problem }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tickets_show', { 'id': ticket.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('tickets_edit', { 'id': ticket.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tickets_new') }}">Ouvrir un nouveau ticket</a>
        </li>
    </ul>
{% endblock %}
