{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Ticket</h1>
    {{ dump(form) }}
    

        {{ form_start(form) }}
            <div class="row">
                <div class="input-field col s6">
                {{ form_widget(form) }}
                </div>
            </div>
            <input type="submit" value="Valider" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('tickets_index') }}">Back to the list</a>
            </li>
        </ul>
    
{% endblock %}
