{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Ticket</h1>
    

        {{ form_start(form) }}

            
                {{ form_widget(form) }}
{#                {{ form_label(form.problem) }}
                {{ form_widget(form.problem) }}#}
                {% form_theme form.imageFile 'jquery.collection.html.twig'
                                             'formThemeButtonCollection.html.twig'%}
                {{ form_widget(form.imageFile, { 'label': 'Ajout d\'image'}) }}
                


            <input type="submit" value="Valider" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('tickets_index') }}">Back to the list</a>
            </li>
        </ul>
    
{% endblock %}
