{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Ticket</h1>
    {{ dump(form) }}
    

        {{ form_start(form) }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                <div class="mdl-textfield mdl-js-textfield getmdl-select">
                {{ form_label(form.priority) }}
                {{ form_widget(form.priority) }}
                </div>
            </div>
            <input type="submit" value="Valider" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('tickets_index') }}">Back to the list</a>
            </li>
        </ul>
    
{% endblock %}
