<nav>
  <div class="nav-wrapper">
      <div>
      <a href="{{ path('homepage') }}" class="brand-logo"><img src="/images/logo.png" width="50"></a>
      </div>
      <div>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <a style="color:black" href="{{ path('fos_user_profile_edit', { "id" : app.user.id }) }}" >Bienvenue {{ app.user.username }}</a>
          {% endif %}
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="mdl-menu__item"><a href="{{ path('homepage') }}" >Accueil</li>
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="mdl-menu__item"><a href="{{ path('fos_user_profile_edit', { "id" : app.user.id }) }}" >Mon compte</a></li>
      <li class="mdl-menu__item"><a href="{{ path('fos_user_security_logout') }}" >Déconnexion</a></li>
      {% else %}
      <li class="mdl-menu__item"><a  href="{{ path('fos_user_security_login') }}" >Connexion</a></li>
      <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/register">Créer un compte</a></li>
  {% endif %}    
      </ul>
  </div>
</nav>
